body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #00695c;
}

::-webkit-scrollbar-thumb:hover {
  background: #004d40;
}